.content 
{
    border: 1px solid;
    height: 1060px;
}
.page
{
margin: 0 auto;
    width: 960px;
	border: 1px solid;
}
.header {
    border: 1px solid;
    height: 70px;
}
.footer
{
border: 1px solid;
}
.menu
{
list-style: none outside none;

}
.menu li {
    border: 1px solid;
    float: left;
    width: 171px;
}
.menu li:hover
{
cursor:pointer;
background:#7f5928;
}
.menu_item
{
background:58f262;
}
.menu_items
{
display:none;
}